.city-input {
	position: relative;
	min-width: 200px;
	max-width: 100%;
	&__input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		box-sizing: border-box;
		&:focus {
			border-color: var(--color-2);
			outline: none;
		}
	}

	&__autocomplete-results {
		border: 1px solid #ccc;
		max-height: 200px;
		overflow-y: auto;
		background-color: #fff;
		position: absolute;
		z-index: 1000;
		width: 300px;
		& div {
			padding: 10px;
			cursor: pointer;
		}
		& div:hover {
			background-color: #f0f0f0;
		}
	}
}
