.weather-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
	}

	&__days-btn {
	}

	&__wrapper {
		width: fit-content;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__weeks-btn {
	}
}
